#container1, #container2 {
    padding: 10px;
    width: 230px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid #84CEEB;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
}
#user_account, #user_password, h3, #sign_name, #sign_account, #sign_password{
    width: 200px;
    height: 20px;
    margin: 10px;
    color: #5680E9;
}
.submit {
    background: #5AB9EA;
    width: 200px;
    height: 25px;
    margin: 10px;
    border: 0;
}
.submit:hover{
    background: #cf10109b;
}
h5 {
    margin: 20px;
}
h5:hover{
    color: red;
}