#container1, #container2 {
    padding: 10px;
    width: 230px;
    height: 420px;
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid #84CEEB;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
}

#user_Account, #user_password, #sign_name, #sign_email, #sign_account, #sign_password, span {
    width: 200px;
    height: 20px;
    margin: 10px;
}

.submit {
    background: #5AB9EA;
    width: 200px;
    height: 25px;
    margin: 10px;
    border: 0;
}

.submit:hover {
    background: #cf10109b;
}

h5 {
    margin: 20px;
}

h5:hover {
    color: red;
}

/* 警告 */
.warning {
    margin-top: 0.4rem;
    color: red;
}