body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C1C8E4;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  padding: 15px 20px;
  background-color: #5680E9;
}

.mainTitle {
  margin: 0;
}

.content {
  text-align: center;
  flex: 1;
}
/* 確保等距離 */
.navigation {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navigation ul {
  justify-content: space-between;
  width: 70%; /* 調整距離寬度 */
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  cursor: pointer;
  font-size: 1em;
}

/* 移入時新增一個底線 */
.navigation ul li:hover {
  text-decoration: underline;
}

footer {
  background-color: #8860D0;
  font-size: 0.8em;
  padding: 5px;
  width: 100%;
  text-align: center;
}

footer nav ul {
  padding: 0; 
  margin: 0; 
}

footer nav ul li {
  list-style-type: none;
  margin: 0 10px; 
  margin-top: auto;
}