spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}  
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    
    show-sql: true
    
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true